
env
.idea/
./.vscode/*
./112215055.docx
./BTP\ Report\ Sample.docx
./College\ Assignments.iml

./Compiler\ Design/.vscode
./Compiler\ Design/output
./Compiler\ Design/trial.py
Compiler Design\.ipynb_checkpoints

./Java/.vscode
./Java/.idea

./Operating\ System/.vscode
./Operating\ System/output